body {color: rgb(46, 46, 46);
}
h1 {color: rgb(0, 0, 0);
}
span {margin: 50px; font-size: 18px;
}
div {background-color: rgb(42, 140, 165); border-color: blue; padding: 50px; height: 600spx; width: 500px;
}
img {width: 400px;
}
img {width: 400px;
}